.intro {
    background-image: url("../img/intro/Phone_mockup_1.png");
    background-repeat: no-repeat;
    background-position: 80% 10px;

    @media (min-width: 768px)and(max-width: 1439px){
        background-position: 92.5% 10px;
        background-size: 309px 623px;
    }
}

.intro__wrapper {
    padding: 0 120px;

    @media (min-width: 768px)and(max-width: 1439px) {
        padding: 0 35px;
    }
}